<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ListTree</string>
			<key>Timestamp</key>
			<date>2014-05-22T14:33:17Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>UIATarget: name:iPhone Simulator rect:{{0, 0}, {320, 568}}</string>
			<key>Screenshot</key>
			<string>D11B4639-082A-4158-9AC2-B648552874CB</string>
			<key>Timestamp</key>
			<date>2014-05-22T14:33:18Z</date>
			<key>Type</key>
			<integer>0</integer>
			<key>children</key>
			<array>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAApplication: name:CC rect:{{0, 20}, {320, 548}}</string>
					<key>Screenshot</key>
					<string>297C07D6-0C66-41E7-81A8-FFC33ED362A1</string>
					<key>Timestamp</key>
					<date>2014-05-22T14:33:18Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAWindow: rect:{{0, 0}, {320, 568}}</string>
							<key>Screenshot</key>
							<string>D65A4086-1614-4DEF-A837-6739BC248BFA</string>
							<key>Timestamp</key>
							<date>2014-05-22T14:33:18Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: name:PowaTag-Logo rect:{{103, 32}, {114, 18}}</string>
									<key>Screenshot</key>
									<string>50EB4AB3-B9EF-4FFE-B30E-8ED8EE09DCA6</string>
									<key>Timestamp</key>
									<date>2014-05-22T14:33:18Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIATextField: name:simulator_qrCode value: rect:{{60, 182}, {200, 44}}</string>
									<key>Screenshot</key>
									<string>46725C90-5A41-45FD-AF8C-DE764611F88C</string>
									<key>Timestamp</key>
									<date>2014-05-22T14:33:18Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIATextField: name:simulator_qrCode value: rect:{{60, 182}, {200, 44}}</string>
											<key>Screenshot</key>
											<string>0586382A-60F9-4C5F-9F95-5BE1C7291771</string>
											<key>Timestamp</key>
											<date>2014-05-22T14:33:18Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAButton: name:ScanViewControllerRevealMenuButton rect:{{5, 21}, {40, 40}}</string>
									<key>Screenshot</key>
									<string>AAA868ED-07BD-4F3D-8E46-59A8BA7E8999</string>
									<key>Timestamp</key>
									<date>2014-05-22T14:33:18Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAButton: name:ScanViewControllerFlashImageButton rect:{{5, 71}, {40, 40}}</string>
									<key>Screenshot</key>
									<string>3B9C83F0-7930-4D8A-AC43-E64A9E2A283E</string>
									<key>Timestamp</key>
									<date>2014-05-22T14:33:18Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAImage: name:Flash-Off rect:{{14, 80}, {22, 22}}</string>
											<key>Screenshot</key>
											<string>45E004B3-63EA-4ECD-ACCA-EDEE97FF7A46</string>
											<key>Timestamp</key>
											<date>2014-05-22T14:33:18Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:ScanViewControllerFlashTextButton value:ScanViewControllerFlashTextButton rect:{{46, 69}, {55, 40}}</string>
									<key>Screenshot</key>
									<string>AD86CD43-E5E6-48AE-B41E-A2983B78BCE8</string>
									<key>Timestamp</key>
									<date>2014-05-22T14:33:18Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAButton: name:ScanViewControllerGridButton rect:{{185, 71}, {61, 40}}</string>
									<key>Screenshot</key>
									<string>438977D8-30D2-4EFB-8E14-87397836320C</string>
									<key>Timestamp</key>
									<date>2014-05-22T14:33:18Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAButton: name:ScanViewControllerHintsButton rect:{{254, 71}, {61, 40}}</string>
									<key>Screenshot</key>
									<string>5CD905E9-C2B5-4E6C-A139-6855C5801652</string>
									<key>Timestamp</key>
									<date>2014-05-22T14:33:18Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: name:Grid rect:{{8, 130}, {304, 379}}</string>
									<key>Screenshot</key>
									<string>48941E03-094C-4F71-9C55-E2FE71D128D4</string>
									<key>Timestamp</key>
									<date>2014-05-22T14:33:18Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAElement: name:ScanViewControllerHintsImage rect:{{10, 133}, {74, 74}}</string>
									<key>Screenshot</key>
									<string>505815C8-B8FC-402D-81D8-89BA8156DA52</string>
									<key>Timestamp</key>
									<date>2014-05-22T14:33:18Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: name:Scan-UI-Tap-To-Focus-Ring rect:{{118, 278}, {84, 84}}</string>
									<key>Screenshot</key>
									<string>E60636F9-9309-46E8-A9A5-449787D1D6FC</string>
									<key>Timestamp</key>
									<date>2014-05-22T14:33:18Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Tap to focus value:Tap to focus rect:{{131, 279}, {62, 84}}</string>
									<key>Screenshot</key>
									<string>BCF1E145-3BE0-4B10-83F4-33C31BC10508</string>
									<key>Timestamp</key>
									<date>2014-05-22T14:33:18Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAButton: name:audio off rect:{{120, 465}, {80, 80}}</string>
									<key>Screenshot</key>
									<string>71668337-07D7-4A5C-9BBB-D0CC40C84951</string>
									<key>Timestamp</key>
									<date>2014-05-22T14:33:18Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIANavigationBar: name:POWATAG rect:{{0, -44}, {320, 44}}</string>
									<key>Timestamp</key>
									<date>2014-05-22T14:33:18Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAImage: rect:{{0, -64}, {320, 64}}</string>
											<key>Timestamp</key>
											<date>2014-05-22T14:33:18Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array>
												<dict>
													<key>LogType</key>
													<string>Debug</string>
													<key>Message</key>
													<string>UIAImage: rect:{{0, 0}, {320, 0}}</string>
													<key>Screenshot</key>
													<string>8C0BC5DC-1D77-4086-A884-8ED8F4E0225F</string>
													<key>Timestamp</key>
													<date>2014-05-22T14:33:18Z</date>
													<key>Type</key>
													<integer>0</integer>
													<key>children</key>
													<array/>
												</dict>
											</array>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:UINavigationBarBackIndicatorDefault.png rect:{{8, -32}, {12, 20}}</string>
											<key>Timestamp</key>
											<date>2014-05-22T14:33:18Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAStaticText: name:POWATAG value:POWATAG rect:{{108, -36}, {104, 27}}</string>
											<key>Timestamp</key>
											<date>2014-05-22T14:33:18Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array>
												<dict>
													<key>LogType</key>
													<string>Debug</string>
													<key>Message</key>
													<string>UIAStaticText: name:POWATAG value:POWATAG rect:{{108, -38}, {104, 28}}</string>
													<key>Timestamp</key>
													<date>2014-05-22T14:33:18Z</date>
													<key>Type</key>
													<integer>0</integer>
													<key>children</key>
													<array/>
												</dict>
											</array>
										</dict>
									</array>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAToolbar: rect:{{0, 568}, {320, 44}}</string>
									<key>Timestamp</key>
									<date>2014-05-22T14:33:18Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAImage: rect:{{0, 568}, {320, 0}}</string>
											<key>Screenshot</key>
											<string>176ED3EB-0E13-4D44-A392-7D9C91D634AB</string>
											<key>Timestamp</key>
											<date>2014-05-22T14:33:18Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAImage: rect:{{0, 568}, {320, 44}}</string>
											<key>Timestamp</key>
											<date>2014-05-22T14:33:18Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAWindow: rect:{{0, 0}, {320, 568}}</string>
							<key>Screenshot</key>
							<string>0B4EF9D6-E6F1-4461-9526-40A0EA0AE712</string>
							<key>Timestamp</key>
							<date>2014-05-22T14:33:18Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStatusBar: rect:{{0, 0}, {320, 20}}</string>
									<key>Screenshot</key>
									<string>DE0D9210-284A-4615-B6FC-BF032E0D5514</string>
									<key>Timestamp</key>
									<date>2014-05-22T14:33:18Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAElement: name:Swipe down with three fingers to reveal the notification center., Swipe up with three fingers to reveal the control center, Double-tap to scroll to top rect:{{6, 0}, {38, 20}}</string>
											<key>Screenshot</key>
											<string>E2D2C1A8-1405-4D11-A15A-D6ECF41FE672</string>
											<key>Timestamp</key>
											<date>2014-05-22T14:33:18Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAElement: name:3 of 3 Wi-Fi bars rect:{{49, 0}, {13, 20}}</string>
											<key>Screenshot</key>
											<string>1C7EB045-4697-4DFE-B342-9DC40571AC5C</string>
											<key>Timestamp</key>
											<date>2014-05-22T14:33:18Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAElement: name:3:33 PM rect:{{137, 0}, {47, 20}}</string>
											<key>Screenshot</key>
											<string>FFF0A4A7-13A8-48DC-9C51-38E140BAB22D</string>
											<key>Timestamp</key>
											<date>2014-05-22T14:33:18Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAElement: name:StandardLocationTrackingOn rect:{{275, 0}, {9, 20}}</string>
											<key>Screenshot</key>
											<string>9695CC6C-ADD0-4EE5-981F-EF56D2EECA95</string>
											<key>Timestamp</key>
											<date>2014-05-22T14:33:18Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAElement: name:100% battery power rect:{{290, 0}, {25, 20}}</string>
											<key>Screenshot</key>
											<string>B745CE8E-F314-43DD-9104-1878C95E302E</string>
											<key>Timestamp</key>
											<date>2014-05-22T14:33:18Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
